[2016-09-12 16:51] rmhrisk opened #1 "Uses web workers when available"

[2016-09-12 16:59] rmhrisk opened #2 "Add supported algorithms to the readme"
People will want to know what algorithms we support:

[code]

[2016-09-12 17:00] rmhrisk opened #3 "Add package size to readme"
People will want to know the relative package size, we should show what the minified size of `webcrypto-liner` is and a table of what each of the optional dependencies add. This way people can know what size the package would be.

[2016-09-12 18:44] rmhrisk commented on #3
Fixed

[2016-09-12 18:45] #3 closed

[2016-09-12 20:36] rmhrisk commented on #2
fixed

[2016-09-12 20:36] #2 closed

[2016-09-12 21:58] rmhrisk opened #4 "Support PKCS 1.5"
Our decision to use asmcrypto.js means we do not get PKCS#1 1.5 from the third-party library, it seems like we can still accomplish this by padding and them using raw crypto.

Forge has a PKCS 1.5 implementation:

https://github.com/digitalbazaar/forge/blob/5f56c29c4bcd88b7b856ea04e5fd3063ab0f6888/js/rsa.js#L1406-L1472

And asymcrypto.js lets us do raw crypto: https://github.com/vibornoff/asmcrypt

[2016-09-13 23:15] rmhrisk opened #5 "Add optional support 3DES and RC2"
So I hate this one but the number one ask from PKIjs users is to be able to open and create PKCS#12 files that Windows will like. Unfortunately, Windows supports old ganky encryption algorithms only for PKCS#12, see  https://unmitigatedrisk.com/?p=543 for more information.

To fix this would require us to support 3DES and RC2, both are quite simple algorithms; both of these are implemented in - ht

[2016-09-13 23:25] rmhrisk opened #6 "Add node/mocha based invocation of our existing tests"
We will want to run CI on this and having node invocation of the existing tests will help us look for basic regressions.

[2016-09-13 23:26] rmhrisk opened #7 "Add Travis-CI integration"
We will want to add Travis-CI integration so we can make sure builds are reproducable.

[2016-09-13 23:26] rmhrisk opened #8 "Add Coveralls"
We will want to add Coveralls so people can get an idea of what the code coverage is for this.

[2016-09-13 23:28] rmhrisk opened #9 "Package using NPM"
This will allow web applications to easily add the package as a dependency. We can leave out the optional dependencies and let people add them explicitly to their own applications if they need the associated capabilities.

[2016-09-14 20:30] rmhrisk opened #10 "Add saucelabs coverage"
SauceLabs will give us a browser coverage report (for free). You can see what this looks like on Elliptic's readme. We should consider adding this to this repository also.

https://saucelabs.com

[2016-09-14 21:32] rmhrisk commented on #4
OpenPGP seems to have a cleaner PKCS1.5 impl - https://github.com/openpgpjs/openpgpjs/blob/c9b20c96e01e030b8c8424d0ca6e76b59e983c21/src/crypto/pkcs1.js

[2016-09-21 08:03] rmhrisk opened #11 "Reduce size of deployed package by only including needed algorithms"
It looks like we can include only the needed algorithms from ASMCRYPTO, here is the opengpgjs branch where they did this for their own work:

https://github.com/openpgpjs/asmcrypto-lite/commits/lite

[2016-09-21 08:05] rmhrisk opened #12 "Add support for spki and PKCS8 exports"
PKIjs supports both SPKI and PKCS8, we can use this to add support for these key exports.

We can do this as an optional dependency. If PKIjs is found we could then support these types. This would give us better support with the webcrypto specification.

[2016-09-21 08:57] rmhrisk opened #13 "Add support for RSA"
Right now the readme says we support RSA, it lies :)

At this time we only support ECC based algorithms, we need to fix this.

[2016-09-25 19:39] rmhrisk opened #15 "ECC does not work on IE"
We have been unable to get ECC to work in IE, Elliptic js goes into an infinite loop. Need to find out why and fix.

[2016-09-25 19:39] #9 closed

[2016-09-28 20:36] rmhrisk commented on #15
More specifically it seems everything works except for export key which loops for some reason.

[2016-09-28 21:17] yuhong commented on #15
See if you can use Process Explorer or WinDbg to get a call stack.

[2016-09-28 21:33] rmhrisk commented on #15
@yuhong so you think it's a big in the js runtime vs elliptic or our use of it?

[2016-09-28 21:47] abgoldberg commented on #4
Is this specifically for signing only, or are there plans to add encryption support (even though it's not in WebCrypto) to support legacy interoperability? Any insight on only having RSA-OAEP in WebCrypto and its implications for interoperating with existing S/MIME implementations?

[2016-09-28 21:51] rmhrisk commented on #4
It already supports RSA OAEP (encryption), this should be enough for that. See https://peculiarventures.github.io/pv-webcrypto-tests/ for what is supported in each of your target UAs.

Most UAs seem to support RSA PKCS1.5, we can add support for it in the JS implementation but until it is clear there is a UA that would require it (possibly IE, for example) we won't do this work. That is what this

[2016-09-30 20:42] indutny commented on #15
If anyone has access to IE and is willing to test it - we can try to bisect the problem.

First suggestion would be to add `throw 1` at the top of:

https://github.com/indutny/elliptic/blob/master/lib/elliptic/curve/short.js#L423

And see if it crashes. (If it is not - the problem happens earlier).

----

Alternatively, it may be looping in https://github.com/indutny/elliptic/blob/master/lib/ellip

[2016-10-02 05:55] rmhrisk opened #16 "Add blake2b implementation"
https://www.npmjs.com/package/blakejs

[2016-10-02 06:03] rmhrisk opened #17 "Add chacha20"
https://github.com/quartzjer/chacha20

[2016-10-10 22:54] rmhrisk opened #18 "Work with AES-GCM keys generated with webcrypto-liner"
In another project I was discussing the need to support AES-GCM and RSA wrapping with pure JS vs our current use of browser native support with @rapropos:

[code]

@rapropos yes, our goal was to minimize use of the JS implementations and use the native implementations when present. Since Safari supports RSA-OAEP 'RSA-OAEP mod:2048 pubExp:3 format:jwk' you should be able to get AES-GCM working in S

[2016-10-10 23:41] rmhrisk commented on #18
Just to add, my understanding is you need to import a RSA public key, generate a AES-GCM key, encrypt data with that AES key, and wrap that key to the RSA public key. I am pretty sure this will work on Safari with liner.

[2016-10-11 03:58] rapropos commented on #18
Safari cannot generate AES-GCM keys, only AES-CBC. So if I use liner to generate the AES key, I don't think liner would be able to wrap it. I'm not completely beholden to GCM, but I can't unwrap Safari-wrapped CBC keys in Chromium - I get a mysterious messageless OperationError. I have verified that this is exactly what happens when the wrapped key is corrupt by manually corrupting a byte in the k

[2016-10-11 04:15] rmhrisk commented on #18
Even though Safari doesnt support AES-GCM we add support for it via asmcryptojs; we can wrap those keys with the native RSA implementation, or at least should be able to.

[2016-10-11 04:52] rapropos commented on #18
Will the native implementation be willing to wrap liner keys? That would seem surprising to me, and sort of against the spirit of WebCrypto in general.

[2016-10-11 04:57] rmhrisk commented on #18
Should work just fine.

Import an AES-GCM key, which is supported with liner:

![image](https://cloud.githubusercontent.com/assets/1619279/19259189/3248f11a-8f34-11e6-9f36-2340c2dce68c.png)

Then you should be able to wrap that key with the Safari implementation.

Check out https://peculiarventures.github.io/pv-webcrypto-tests/ to see what will be supported in each browser.
![image](https://cloud.

[2016-10-11 23:12] rapropos commented on #18
My understanding is that the actual "key" inside a WebCrypto key is not allowed to be accessed by scripts. As a consequence, I would not think one could pass a liner-derived key directly to WebCrypto functions (such as wrapKey). The only way (as I understand it, please correct if wrong) to get key information in and out of WebCrypto-land is via `importKey` and `exportKey`. If Safari won't generate

[2016-10-11 23:32] rmhrisk commented on #18
I believe, possibly incorrectly that once imported the AES-GCM key is just a blob, and as a result it will be possible to import the key and wrap it. If that is not the case we would consider changing the behavior of liner to accommodate wrapping the AES-GCM key in js based RSA, but we would want to verify first that the hybrid does not work.

[2016-10-16 17:34] rmhrisk commented on #13
Resolved

[2016-10-16 17:34] #13 closed

[2016-10-17 21:47] fletchgqc opened #19 "Download version"
Could you please make a built version available so that I don't have to do that myself?

[2016-10-17 21:53] microshine commented on #19
You can take last compiled vesion from [pv-webcrypto-tests](https://github.com/PeculiarVentures/pv-webcrypto-tests/tree/gh-pages/src)

[2016-10-17 21:54] microshine commented on #19
And test app on [gh-pages](https://peculiarventures.github.io/pv-webcrypto-tests/)

[2016-10-24 07:10] YuryStrozhevsky opened #20 "Change package.json decription"
Currently because of a mistake in package.json the package can not be even installed. Please change this line:

[code]

The problem that currently you have "smooths out", but need to have 'smooths out'.

[2016-10-24 08:33] microshine opened #21 "window.crypto VS crypto"
Replace `window.crypto` to `crypto`

[2016-10-24 08:39] microshine opened #22 "Wrong name of algorithm"
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/src/rsa/crypto.ts#L201

[2016-10-24 09:49] microshine opened #23 "Wrong description"
![image](https://cloud.githubusercontent.com/assets/7333669/19641089/4c7e9166-99e8-11e6-8330-933fcd39c27f.png)

Only SHA1 and SHA256 are supported

[2016-10-25 10:23] YuryStrozhevsky opened #24 "Making "WebCrypto-compartible" tests"
At the moment the product does not have "a prove" that its works exactly like native WebCrypto. Yes, you made an interface looks exactly like WebCrypto. But there are no tests showing the results from your product are the same we in case of native WebCrypto.

Necessary tests must include:
1) having one "part" of algorithm (for ex. encryption) done by your product and other "part" (decryption) by n

[2016-11-30 17:54] microshine opened #25 "Safari Issues"
## Safari
1. Wrong `usages` for generated RSASSA key. `Native` error
![image](https://cloud.githubusercontent.com/assets/7333669/20764429/319e9408-b73f-11e6-8483-45c1e3819b81.png)
2. Cannot to export RSASSA, RSA-OAEP keys using `jwk` format. `Native` error
![image](https://cloud.githubusercontent.com/assets/7333669/20764732/9244865e-b740-11e6-8443-02c64c3bcb07.png)
[answer](http://stackoverflow.co

[2016-11-30 22:15] microshine commented on #25
Safari export RSASSA key has limitation, only keys with modulesLength 2048, 4096 and hashes SHA-256, SHA-384, SHA-512 arre allowed

[2016-12-08 05:30] #25 closed

[2016-12-08 05:33] rmhrisk commented on #23
Fixed

[2016-12-08 05:33] #23 closed

[2016-12-08 05:35] rmhrisk commented on #21
@microshine has this been fixed?

[2016-12-08 05:35] rmhrisk commented on #22
@microshine has this been fixed.

[2016-12-08 05:37] rmhrisk commented on #20
Fixed

[2016-12-08 05:37] #20 closed

[2016-12-08 05:38] rmhrisk commented on #18
Closing as @rapropos's seems to not need this thread any longer.

[2016-12-08 05:38] #18 closed

[2016-12-08 05:39] rmhrisk commented on #22
Closing, neither @microshine or I remember what this was :)

[2016-12-08 05:39] #22 closed

[2016-12-08 05:40] rmhrisk commented on #19
We publish a npm module, that is really the right way to do this.

You dont want to do crypto with JS hosted by someone else.

Closing

[2016-12-08 05:40] #19 closed

[2016-12-08 05:41] rmhrisk opened #26 "Add support for SHA2-512"
Asymcrypto supports SHA2-512, since we cary it in the package we might as well expose it.

[2016-12-08 05:46] rmhrisk commented on #21
Fixed

[2016-12-08 05:46] #21 closed

[2016-12-08 22:36] rmhrisk commented on #15
Fixed

[2016-12-08 22:36] #15 closed

[2016-12-08 23:34] rapropos commented on #18
Sorry for inactivity. I ended up going with [forge](https://github.com/digitalbazaar/forge) to do the keywrapping and GCM to get the app working on Safari.

[2016-12-08 23:37] indutny commented on #15
@rmhrisk mind sharing some details? 😉

[2016-12-11 11:00] microshine opened #27 "IE implementation"
List of difference:
- RSA generateKey. Function doesn't use hash algorithm.
- generated keys have got `keyUsages` instead of `usages`
- generated keys have got empty key usages
- RSA sign/verify. Function uses hash algorithm.
- exportKey/importKey `jwk` fromat
  - uses ArrayBuffer for key data
  - JWK has `extractable` attribute instead of `ext`
  - JWK doesn't have `alg` attribute
  - JWK doesn't

[2016-12-28 19:21] rmhrisk opened #28 "AES-KW and PBKDF2 are needed"

[2017-01-11 11:04] #27 closed

[2017-01-22 08:05] rmhrisk commented on #7
We did Circle, closing

[2017-02-28 19:45] rmhrisk opened #29 "Incorporate wycheproof into project"
https://github.com/google/wycheproof

[2017-03-10 04:57] rmhrisk opened #30 "Liner uses JS impl with Safari Technical Preview 25 (v10.0.2) when not needed"
![image](https://cloud.githubusercontent.com/assets/1619279/23782616/8ad3a0ea-050a-11e7-8fec-782c5000dbca.png)

![image](https://cloud.githubusercontent.com/assets/1619279/23782648/cc11d126-050a-11e7-915a-74273236b40d.png)

https://developer.apple.com/safari/download/

[2017-03-10 05:00] rmhrisk commented on #30
I think the issue is for the new version we wont need - https://github.com/PeculiarVentures/webcrypto-liner/blob/af0131c8b557cc5cdd39ba51efd707fb8d85231b/scripts/linerBrowserInit.js#L73

[2017-04-01 12:51] abgoldberg opened #31 "ECDSA sign/verify tests fail for SHA-512"
When using the pv-webcrypto-tests demo page, I am seeing all the ECDSA sign/verify tests failing that use SHA-512. It appears that elliptic.js supports it, so I'm wondering if something else is going on. This is in IE11. See attached.

<img width="618" alt="screen shot 2017-04-01 at 8 47 39 am" src="https://cloud.githubusercontent.com/assets/5803795/24578873/6ac0a9f0-16b8-11e7-9cda-cbb291602ac1.pn

[2017-04-01 17:38] abgoldberg commented on #31
Nevermind. The version of asmcrypto being used wasn't built with SHA-512 support. That's not included by default.

[2017-04-01 17:38] #31 closed

[2017-04-04 21:15] microshine opened #32 "Safari: WebKitSubtleCrypto is deprecated. Please use SubtleCrypto instead."
![image](https://cloud.githubusercontent.com/assets/7333669/24678864/f2e40960-1994-11e7-971e-0d6a84350a66.png)

[2017-04-04 23:18] rmhrisk opened #33 "Add support for safari RSA-OAEP wrap/unrwrap & encrypt/decrypt"
Seems like we should be able to do this but it doesn't work right now

[2017-04-07 10:43] leolivier opened #34 "Cannot install with npm"
When I run:
`npm install --save webcrypto-liner`
I get:
[code]
[2017-04-07T10_37_58_018Z-debug.log.txt](https://github.com/PeculiarVentures/webcrypto-liner/files/905304/2017-04-07T10_37_58_018Z-debug.log.txt)

See log file attached

[2017-04-07 17:15] rmhrisk commented on #34
Works for me, can you tell me about your environment?

[code]

[2017-04-08 08:05] leolivier commented on #34
Hi
You have all information at the end of the attached log file.
node v7.8.0
npm  v4.2.0
Linux 4.8.17-040817-generic (Mint 18)

[2017-04-08 17:35] rmhrisk commented on #34
@microshine I am not sure what's different in his environment, any ideas?

[2017-04-09 14:37] leolivier commented on #34
FYI, the issue is solved!
I installed Angular 4 and the latest version of angular-cli and it seems to have installed newer versions of packages that solved the issue...

[2017-04-09 14:37] #34 closed

[2017-04-25 18:09] rmhrisk opened #35 "ECC Not working in Safari"
![image](https://cloud.githubusercontent.com/assets/1619279/25400480/997a51b8-29a7-11e7-9c92-d7d3a9f951b8.png)

[2017-04-25 18:10] rmhrisk opened #36 "Test execution time is very long in Safari"
![image](https://cloud.githubusercontent.com/assets/1619279/25400480/997a51b8-29a7-11e7-9c92-d7d3a9f951b8.png)

[2017-04-25 18:11] rmhrisk commented on #36
I think this is probably because we are using JS when we could be using the new native capabilities

[2017-04-25 19:23] microshine commented on #36
There is no `elliptic.js` in index.html file

Old version of `webcrypto-liner` had elliptic.js in it

[2017-04-25 19:41] microshine commented on #36
@rmhrisk pv-webcrypto-tests on gh-pages are updated

[2017-04-25 19:45] #36 closed

[2017-04-25 19:45] rmhrisk commented on #35
Fixed

[2017-04-25 19:45] #35 closed

[2017-04-25 20:16] rmhrisk commented on #32
Fixed

[2017-04-25 20:16] #32 closed

[2017-04-25 20:16] rmhrisk commented on #30
Fixed

[2017-04-25 20:16] #30 closed

[2017-05-02 13:54] WorldThirteen opened #37 "Init failed on Safari 602.1"
Liner is failed to init on IOS Safari 602.1
Next used regular expression returns `null`
[code]
and getting [1] throws an exception:
`TypeError: null is not an object (evaluating '/([\\d\\.]+) safari/i.exec(userAgent)[1]')`

User agent:
[code]

[2017-05-02 15:02] microshine commented on #37
@WorldThirteen Could you check last update?

[2017-05-02 15:24] WorldThirteen commented on #37
@microshine, sure, I will notify at the nearest time.

[2017-05-02 15:32] WorldThirteen commented on #37
Fixed.
last notice before closing: should next files also be changed?
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/scripts/linerBrowserInit.js#L39
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/scripts/linerWorkerInit.js#L39

[2017-05-02 15:48] microshine commented on #37
thank you. I forgot about those files

[2017-05-02 15:55] #37 closed

[2017-05-13 18:24] leolivier opened #38 "Cannot install anymore using npm"
Hi, I can't install webcrypto-liner anymore:

[code]
npm version gives:
[code]
and my package.json contains:
[code]
Is that linked to my version of typescript?

[2017-05-13 18:32] rmhrisk commented on #38
@leolivier what version of TSC are you using?

[2017-05-13 18:42] rmhrisk commented on #38
@microshine will look at this later.

[2017-05-13 19:22] leolivier commented on #38
The typescript version is 2.3.2 in the package.json file so I think this is your answer or is there another version for TSC?

[2017-05-13 19:24] rmhrisk commented on #38
You may have a global version overriding: tsc -v

[2017-05-13 20:55] microshine commented on #38
I updated `tsconfig.json`. Now it has lib `es2015`. It had `es2015.promise` before. It resolved problem with `@types/core-js` for me.

I published new version

@leolivier Could you try it?

[2017-05-13 21:05] leolivier commented on #38
Works!!!
Thanks for being so fast and efficient !

[2017-05-13 21:05] #38 closed

[2017-07-03 10:40] xybei commented on #12
PKIjs importKey() as "spki" format, but webcrypto-liner olny support "jwk", It would be nice If it can be unified.

[2017-08-08 22:30] microshine opened #39 "Fix exportKey/importKey in JWK format for EC keys under Safari v11"
`node-webcrypto-ossl` can't import JWK which was exported from Safari

https://github.com/PeculiarVentures/webcrypto-local/issues/178

[2017-08-08 23:03] microshine commented on #39
### JWK
[code]

[2017-08-17 18:24] microshine commented on #39
Module creates new CryptoKeyPair for EC if public key has incorrect data on export JWK format.

[2017-08-17 18:24] #39 closed

[2017-09-06 00:06] lightninglu10 opened #40 "Error: Unsupported algorithm 'hmac' -- Safari"
Hey guys, I'm trying to use this package or webcrypto-shim to fix Safari's webcrypto package.

I'm getting this error though:

[code]

I've included asymcrypto and elliptic in my html:

[code]

[2017-09-06 01:19] rmhrisk commented on #40
We did not add HMAC to liner yet.

You can see the algorithms we did add support for in [the README](https://github.com/PeculiarVentures/webcrypto-liner/blob/master/README.md).

[asymcrypto.js](https://github.com/vibornoff/asmcrypto.js/) does support HMAC so you could easily do a PR that added it to liner.

You would basically use the (SHA2 logic as the prototype)[https://github.com/PeculiarVentur

[2017-09-06 01:37] lightninglu10 commented on #40
For hmac, asymcrypto supports

HMAC-SHA1
HMAC-SHA256
HMAC-SHA512

but in webcryptocore, there's only algorithm name Hmac.

Looking at what you guys did for sha2, how would it know which one to use?

[2017-09-06 02:40] rmhrisk commented on #40
Webcrypto core is a generic layer we use for input validation in our various WebCrypto libraries.

You would need to add support for HMAC-SHA256 (and maybe HMAC-SHA512) to liner for it to work.

You can use the existing SHA256 code as a guide.

@microshine is busy with another work right now so we cant commit to doing it ourselves in the near term but if you or someone else wanted to add these we

[2017-09-06 05:58] microshine commented on #40
It'll be helpful if somebody wants to make PR

[HMAC examples](https://github.com/diafygi/webcrypto-examples#hmac)
[W3 HMAC specification](https://www.w3.org/TR/WebCryptoAPI/#hmac) - webcrypto-core checks incoming data

1. Create `HmacCryptoKey` and `HmacCrypto`, similar to [RSA implementation](https://github.com/PeculiarVentures/webcrypto-liner/blob/master/src/rsa/crypto.ts)
2. Add `HmacCrypto` t

[2017-12-06 07:44] YuryStrozhevsky opened #41 "Can not call "importKey" for AES-ECB algorithm"

[2017-12-06 07:45] rmhrisk commented on #41
@YuryStrozhevsky can you provide more detail?

@microshine please investigate

[2017-12-06 07:46] rmhrisk commented on #41
Sounds like there is no importKey() implemented, @microshine please resolve ASAP.

[2017-12-06 09:03] YuryStrozhevsky opened #42 "Need to have ability to set "padding = false" for AES-ECB"
At the moment we have only one option:
[code]

I need to have an option for set least parameter here to "false"
[code]

[2017-12-06 09:03] YuryStrozhevsky commented on #42
Of course same should be done for "decrypt" function.

[2017-12-06 09:26] microshine commented on #41
@YuryStrozhevsky Could you provide more detail?

This code works
[code]

![image](https://user-images.githubusercontent.com/7333669/33654224-820778c8-da80-11e7-92c9-d6b8c3dc0692.png)

[2017-12-06 09:41] YuryStrozhevsky commented on #41
@microshine This code does not work:
[code]

[2017-12-06 09:47] microshine commented on #41
I tried
[code]

![image](https://user-images.githubusercontent.com/7333669/33655106-41482bc2-da83-11e7-9e9e-45c11d569ed4.png)

[2017-12-06 10:04] YuryStrozhevsky commented on #41
@microshine I did not understand your last comment: it is confirming my problem or your are saying I done something wrong?

[2017-12-06 10:06] microshine commented on #41
@YuryStrozhevsky I don't have error on `crypto.subtle.importKey`. Send me all incoming params to reproduce this error

[2017-12-06 10:09] YuryStrozhevsky commented on #41
@microshine Hmm, I can see on your screenshot exactly the same message:
[code]

[2017-12-06 10:10] microshine commented on #41
This is warning for native crypto usage

[2017-12-06 10:10] YuryStrozhevsky commented on #41
@microshine So how to fix it?

[2017-12-06 10:10] microshine commented on #41
Do you want to remove this log?

[2017-12-06 10:12] YuryStrozhevsky commented on #41
@microshine So this is not an error but warning? And the key imported successfully?

[2017-12-06 10:13] YuryStrozhevsky commented on #41
@microshine OK, then I close this issue. Instead I need a solution for [this issue](https://github.com/PeculiarVentures/webcrypto-liner/issues/42): before I thought my code is not working because of import but seems it is because of "padding issue".

[2017-12-06 10:13] #41 closed

[2017-12-19 23:32] borisreitman opened #44 "Doesn't work in Safari"
I cloned the project, installed webpack, and ran webpack that generated files in dist/ directory.
However, when I try to run the example in examples/src/index.html on Safari, I get an error.

The first error I get is "unable to delete property" on line 3719:

[code]

When I actually try to use the sample, I get the error:

undefined is not an object (evaluating 'crypto.subtle.generateKey')

Safari

[2017-12-20 00:43] rmhrisk commented on #44
Sounds like you didn't follow the steps in https://github.com/PeculiarVentures/webcrypto-liner#installation

Specifically if your going to run in a browser that doesn't support ES6 you need to be sure to convert to ES2015

[2017-12-20 02:05] borisreitman commented on #44
Ok, I now followed the steps, the error now occurs on a different line, but the error is the same "Unable to delete property".

[code]

Basically, if I would try to manually do:  ```delete window.crypto``` I get the same error. It appears that this property is read-only in Safari.  Doing the same in Google Chrome works and gives no errors.

[2017-12-20 02:21] borisreitman commented on #44
I tried this fix, and got past that error,

[code]

[2017-12-20 03:27] rmhrisk commented on #44
Works in Safari without code modification as we use it in several projects, ill have @microshine take a look when he gets online.

[2017-12-20 03:48] borisreitman commented on #44
Hi Ryan ,

Can you recommend something that I can use in Cordova to encrypt with AES-GCM on the mobile phone? Some Cordova plugin perhaps ?

Thanks ,
Boris

On 2017-12-19 at 7:27 PM, "Ryan Hurst" <notifications@github.com> wrote:

[2017-12-20 03:53] rmhrisk commented on #44
Boris,

I am not too familiar with cordova/phonegap but I understand you end up with JS also using this should work.

Ryan

[2017-12-20 19:26] microshine commented on #44
@borisreitman Could you try https://github.com/PeculiarVentures/webcrypto-liner/blob/master/dist/webcrypto-liner.lib.js? This variant of webcrypto-liner doesn't delete native crypto object. This script uses global `liner` variable which has own `crypto` object. We use webcrypto-liner.lib.js for Web Worker, because some browsers don't allow to remove native `crypto`

### Example
[code]

[code]

[2017-12-20 19:43] borisreitman commented on #44
Yes, this version worked fine.

Quick question: does liner work in a browser that has no native window.crypto at all ?

[2017-12-20 20:07] microshine commented on #44
@borisreitman Yes, it does.
You can use [this](https://github.com/PeculiarVentures/webcrypto-liner/blob/master/scripts/linerWorkerInit.js) script to do it. `webcrypto-liner` needs `getRandomValues` for key generation. So if you don't have `crypto` object you must implement your own `getRandomValues`

### Example
[code]

[2017-12-20 21:09] borisreitman commented on #44
For anyone else who may benefit from reading this thread, here's a tip on where to get native random numbers in Cordova.

[code]

https://github.com/aerogear/aerogear-cordova-crypto

[2017-12-21 08:08] borisreitman commented on #28
Vote for PBKDF2

[2017-12-29 09:02] borisreitman opened #46 "arraybuffer bug"
Passing Uint8Array() to crypto.subtle.decrypt doesn't work correctly with webcrypto-liner, because the webcrypto-liner is using the underlying buffer of the data array, which could be bigger. But it does work with native crypto.subtle.decrypt. All the native functions accept Uint8Array in addition to raw ArrayBuffer, and work correctly.

This javascript code shows the problem:
[code]

There's an e

[2018-01-01 08:40] microshine commented on #46
@borisreitman I fixed subarray bug in `webcrypto-core` and published new version of `webcrypto-liner`. Could you try new version?

[2018-01-10 10:28] jeremyVignelles opened #47 "Update to the latest asmcrypto.js"
asmcrypto.js seems to have made a few breaking changes in the latest versions, making the default "npm install" broken.

Could you please update your project?

[2018-01-10 10:33] jeremyVignelles opened #48 "How to use this library as a typescript module?"
I'd like to use your library in a typescript module, always using the javascript implementation because webcrypto should not be available to insecure locations, according to the W3C.

Is there a way to do this kind of things?

[code]

[2018-01-10 13:53] microshine commented on #47
There is another WebCrypto module in npm - [node-webcrypto-ossl](https://www.npmjs.com/package/node-webcrypto-ossl). It has native implementation and works faster than JS.

[2018-01-10 13:56] microshine commented on #48
There is another WebCrypto module in npm - [node-webcrypto-ossl](https://www.npmjs.com/package/node-webcrypto-ossl). It has native implementation and works faster than JS.

[2018-01-10 14:01] jeremyVignelles commented on #48
Thanks, I didn't know it was for the browser too ! (the name is a bit misleading)

I will give it a try

[2018-01-10 14:01] microshine commented on #47
`webcrypto-liner` uses fixed version of `asmcrypto.js`
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/package.json#L20

I checked `npm install webcrypto-liner`. It works

[2018-01-10 14:03] jeremyVignelles commented on #47
I was having undefined references to asmcrypto... weird... Probably something wrong on my side.

[2018-01-10 14:03] #47 closed

[2018-01-10 14:03] microshine commented on #48
There is one more `npm` module which based on node-webcrypto-ossl
https://www.npmjs.com/package/node-webcrypto-shim

[2018-01-10 14:17] jeremyVignelles commented on #48
I think I misunderstood something here:
node-webcrypto-ossl and node-webcrypto-shim are both node.js cryptography libraries based on openssl and exposing a WebCrypto-like API, right? I see they can fallback to webcrypto in the browser, but that's not what I want.

I'm trying to find a browser-side cryptographic API that plays nice with typescript modules and webpack.
Having it looking like WebCryp

[2018-01-10 14:31] rmhrisk commented on #48
[node-webcrypto-ossl](https://github.com/PeculiarVentures/node-webcrypto-ossl) does not fall back to webcrypto, it is a node only (no browser) library, as stated it uses OpenSSL for its crypto algorithms.

[node-webcrypto-shim](https://www.npmjs.com/package/node-webcrypto-shim) uses node-webcrypto-ossl to provide a browser/node solution in one module. Probably what you want based on your descripti

[2018-01-10 14:31] #48 closed

[2018-01-10 14:37] jeremyVignelles commented on #48
@rmhrisk : Thanks for your answer. Unfortunately, using HTTPS is not an option when you want to deploy a distributed service in an internal network.

[2018-01-10 14:42] rmhrisk commented on #48
@jeremyVignelles it is possible to deploy the test boulder instance (or other CAs) and get SSL certificates for your internal network via ACME.

[2018-02-06 06:40] borisreitman opened #50 "Problem with iOS safari importKey AES-GCM"
Here's the sample code:

[code]

It works on OSX Safari, but it doesn't work on my iPhone safari (iOS version 10.3.2).  The error output is:

[code]
Please note that I am passing in the sample "true" for the extractable flag.

Version of of my webcrypto-liner git checkout is bd4cff569f7afe335de3904839ddf815674e483c which has the comment 0.1.28 -- so it must be a version release.

[2018-02-06 06:55] borisreitman commented on #46
Yes, the issue is fixed, thanks.

[2018-02-06 06:55] #46 closed

[2018-02-06 08:52] microshine commented on #50
@borisreitman Thanks. I'll fix it soon

[2018-02-06 10:11] microshine commented on #50
@borisreitman I published v1.0.32
You can try your test script here https://microshine.github.io/test-webcrypto/

[2018-02-06 10:11] #50 closed

[2018-02-06 21:32] borisreitman commented on #50
Why has this worked on OSX Safari, without any modifications ?

[2018-02-06 22:54] rmhrisk commented on #50
@borisreitman liner has browser specific special casing in it, while I didn't look at the PR differences in the version just published it could be related to that.

[2018-02-07 05:26] microshine commented on #50
Because OSX Safari has native implementation for this algorithm. iOS Safari uses JS implementation

[2018-02-08 23:41] doraemondrian commented on #50
Hi guys, I ran into the same problem, but for exporting RSA-OAEP. Here's the code (Pretty much the same, except I'm trying to export an RSA key)

[code]

I get an `"Y3 error: Error: Cannot export native CryptoKey from JS implementation"`.

I'm using iOS 10 safari on an iPad.

[2018-02-09 01:47] borisreitman opened #52 "wrapKey permission is not sufficient in iOS Safari to wrap a key"
The wrapping_key in this code has a "wrapKey" permission. However, this gave an error when I tired to used it.  But, when the wrapping key also has an "encrypt" permission, there is no error.

The "wrapKey" permission should be sufficient, and it works in other browsers.

[code]

[2018-02-09 01:57] doraemondrian opened #53 "Cannot export RSA-OAEP key on iOS 10 Safari"
I took the same example over at https://github.com/PeculiarVentures/webcrypto-liner/issues/50 and just switched the AES-GCM algorithm to RSA-OAEP, and that seems to break the example.

By the way I can confirm that the original example (after the fix at https://github.com/PeculiarVentures/webcrypto-liner/issues/50#issuecomment-363374774) works just fine.

It just doesn't work for RSA-OAEP export.

[2018-02-09 01:57] doraemondrian commented on #50
@rmhrisk Done. First thought these were related issues, sorry about that!

[2018-02-09 06:13] microshine commented on #52
This is because `wrapKey = exportKey + encrypt`
https://github.com/PeculiarVentures/webcrypto-liner/blob/master/src/rsa/crypto.ts#L246

I'm not sure there is another way to resolve it. I think the best way is to use `wrapKey` usage with `encrypt`, and `unwrapKey` usage with `decrypt`

[2018-02-09 06:54] microshine commented on #53
This is because Safari can generate RSA-OAEP but have error on `exportKey`
I added alert on error in native exportKey. Here is screen with error message.
![img_2884](https://user-images.githubusercontent.com/7333669/36015145-48c442a4-0d7e-11e8-8f95-fd70934b1e5f.PNG)

We can replace native `generateKey` for `RSA-OAEP` and use JS implementation for it.
@rmhrisk What do you think about it?

[2018-02-09 06:56] rmhrisk opened #54 "Add 3DES and RC2"
https://github.com/PeculiarVentures/PKI.js recently added support for 3DES and RC2 protected PKCS#12 files in node.

These are the kind of PKCS#12 files created by Windows.

We webcrypto-liner was updated to support these two algorithms it could be used in PKIjs via its engine capability to work with these files in Windows also

[2018-02-09 07:09] rmhrisk commented on #53
If I understand correctly the issue is Safari, or this version, does not allow exporting if the public key for RSA-OAEP?

This seems pretty fundamental, isn’t there a a chance we have to make this call in a different way in the case if Safari?

Does WebCrypto-tests have the same behavior?

[2018-02-09 07:12] rmhrisk commented on #53
Sounds like Safari 11 works but this version does not.

If so then yes using JS is the right solution but only for those older than 11.

[2018-02-09 07:19] doraemondrian commented on #53
Yes, I can confirm it works on iOS 11

In fact the reason I started researching an alternative to the native WebCrypto api in the first place was because my app which works perfectly fine on iOS 11 suddenly stopped working on iOS 10.

This meant I can't use native webcrypto for exporting, so I started looking and i came across this project.

[2018-02-09 08:14] microshine commented on #53
@doraemondrian Can you try https://microshine.github.io/test-webcrypto/ on Safari v10 and v11?
I uploaded test lib with alert dialogs in it

[2018-02-09 08:25] doraemondrian commented on #53
@microshine here it is:

## iOS 10 on iPad

- RSA-OAEP JS
- Throws an error

![img_0019 2](https://user-images.githubusercontent.com/33023863/36018116-674061da-0d2f-11e8-8973-e771557a1b26.PNG)

![img_0020](https://user-images.githubusercontent.com/33023863/36018069-2f515a68-0d2f-11e8-93a4-5bbcce489424.PNG)

## iOS 11 on iPhone

- RSA-OAEP native
- Works

![img_0153](https://user-images.githubuserc

[2018-02-09 09:01] microshine commented on #53
@doraemondrian `Type error` is from `exportKey` because CryptoKey is not native. It's ok

I'll update importKey for RSA-OAEP and publish new version

[2018-02-09 09:11] doraemondrian commented on #53
Thanks! Looking forward to it!

[2018-02-09 09:15] doraemondrian commented on #53
Just checked and looks like it's working, thank you!

<img width="1310" alt="screen shot 2018-02-09 at 1 14 31 am" src="https://user-images.githubusercontent.com/33023863/36020194-a9528394-0d36-11e8-8aff-52b04bdca6e1.png">

[2018-02-09 09:16] #53 closed

[2018-02-09 18:13] rmhrisk commented on #54
@YuryStrozhevsky has said best to do a specific engine provider in PKIjs for this case, since we do not have these algorithms in our current dependency I think I agree.

[2018-02-09 18:13] #54 closed

[2018-02-10 16:43] borisreitman commented on #52
So, how come it works in Chrome with just wrapKey without decrypt ? Is this non-standard ?

[2018-04-02 06:05] FalconIA commented on #52
Same question.

When I user RSA-OAEP, got a error of "CryptoKey has wrong key usage. Must be 'encrypt'".

[2018-04-02 08:15] microshine commented on #52
@borisreitman webcrypto-liner uses native Crypto if it's possible. This is why it doesn't throw error on `wrapKey` without `encrypt` key usage

[2018-04-02 08:25] microshine commented on #52
@FalconIA this is source code for RSA wrapKey https://github.com/PeculiarVentures/webcrypto-liner/blob/master/src/rsa/crypto.ts#L230-L248

As I told before `wrapKey = exportKey + encrypt`.  This is main problem for `encrypt` key usage error. I've got some ideas how to fix it. I'll do it soon

[2018-04-02 10:44] microshine commented on #52
@FalconIA @borisreitman I published new version of `webcrypto-liner`. Can you check it?

[2018-04-02 19:20] microshine opened #56 "PR"
@dannycoates I just noticed your fork, there’s some good changes in here. If you’d be interested in having those merged into the main project just submit a PR be happy to accept them

[2018-04-02 19:36] dannycoates commented on #56
hi @microshine, sure. I just hacked together exactly what I need, so it needs some work to make it good for general use. I'll try to do that and PR soon.

[2018-04-14 18:43] apowers313 opened #57 "Ed25519 Support"
Based on the conversation in PeculiarVentures/PKI.js#164 I'm hoping I can get help with adding the `Ed25519` curve to webcrypto-liner. It looks like @microshine just added `secp256k1` -- I'm assuming the easiest path is to look at [those edits](https://github.com/PeculiarVentures/webcrypto-liner/commit/f36bf802469c5932f60e10ae3bd8a0836b6a6f59#diff-6b156d777898b726570c9101c30ee9e3) and copy them?

[2018-04-14 19:06] microshine commented on #57
@apowers313 `webcrypto-liner` is based on [webcrypto-core](https://github.com/PeculiarVentures/webcrypto-core) which supports `X25519` named curve.
You can use this curve like standard WebCrypto curves (e.g. P-256, P-384, P-521)

[node-webcrypto-p11](https://github.com/PeculiarVentures/node-webcrypto-p11) implements `X25519`. It hes [test](https://github.com/PeculiarVentures/node-webcrypto-p11/blo

[2018-04-27 12:16] FalkNisius commented on #28
Vote for PBKDF2

[2018-09-03 17:21] lougreenwood opened #59 "Installation/usage?"
Is it possible to use this as a simple es5/6 module and require/import for use in a particular class?

I get the impression that we need to run `npm install && npm run build` and then link to some generated js file directly in our html?

I'm feeling quite lost at how to get this working, so any help is greatly appreciated :)

[2018-09-03 17:46] microshine commented on #59
`webcrypto-liner` is a polyfill. It wraps existing global `crypto` object Window.

[pv-webcrypto-tests](https://peculiarventures.github.io/pv-webcrypto-tests/)
[code]

You can use `crypto` without `import/require`

[code]

[2018-09-03 19:30] lougreenwood commented on #59
Is there a path to use import/require if I want to? If not, can you help me to understand what the use case is for npm installing if the src files need copy/moving into some dir to reference directly from HTML?

Thanks for bearing with me on this :)

[2018-09-03 19:47] microshine commented on #59
`webcrypto-liner` is TS project. NPM version contains compiled JS files only. You don't need to install TypeScript and other dependencies for compiled files getting

[2018-09-03 19:48] lougreenwood commented on #59
For example, I'm also using https://github.com/samthor/fast-text-encoding to polypill TextEncoder on ie11/Edge.

Usage of this is simple, I simply do a `yarn add -D fast-text-encoder` and then `import 'fast-text-encoding';` in my JS and voila - the polyfill is enabled.

I'm trying to figure out if it's possible to have the same experience here...

[2018-09-03 19:49] lougreenwood commented on #59
@microshine so you're saying all I need to do is `yarn add web crypto-liner` and my code will be magically polyfilled? no imports necessary etc?

[2018-09-03 20:04] lougreenwood commented on #59
Yes, my project is built with EmberJS, which builds the app using Broccoli. commonjs modules are made available in my project using `ember-auto-import` https://github.com/ef4/ember-auto-import.

Yep, it's bundled and the `fast-text-encoding` polyfill is working in production...

[2018-09-03 20:08] microshine commented on #59
The problem is that `package.json` uses `main: build/index.js`, but npm module doesn't have `build`

Can you try to update `webcrypto-liner/package.json` and set `main: dist/webcrypto-liner.shim.js`?
There can be problem with https://github.com/PeculiarVentures/webcrypto-liner/blob/master/src/init.ts#L5, you can comment it.

[2018-09-03 20:15] lougreenwood commented on #59
@microshine that _seems_ to have worked - at least my app is no longer throwing an exception when trying to `import 'webcrypto-liner';`

Let me check an environment where I was previously getting issues because crypto wasn't available...

[2018-10-08 02:06] Mischala commented on #57
I have done some work upstream in webcrypto-core to add EdDSA, and plan to implement it here in an upcoming PR.

[2018-10-14 22:22] Mischala opened #60 "tsc spitting out about 40 type errors"
`tsc -p tsconfig.json` is emitting a bunch of type errors.
Seems they are all to do with Native CryptoKey and CryptoKeyPair types being incompatible with those defined in `src/key.ts`

Because we are extending the types defined in webcrypto-core, and the non-native key types are defined in Liner, the implementing classes expect to accept and return native CryptoKey and CryptoKeyPair types.

possib

[2018-11-05 21:56] Mischala commented on #57
changes made in #61

[2018-11-14 04:34] FalconIA opened #62 "Exception ‘Only secure origins are allowed’ when load from an insecure site using chrome v40."
I load the official examples page from insecure site. Such as: `http://192.168.2.64:18080/examples/html/index.html`

Click `Sign` button.

Under Chrome `Version 40.0.2214.115`. Chrome throws a exception.
[code]

Under Chrome `Version 70.0.3538.77 (Official Build) (64-bit)`. It works well.

What's the problem? Please help.

[2018-11-14 05:49] rmhrisk commented on #62
This is a return from Chrome telling you in that version, the API in question was requiring the page to be served over HTTPS. See http://goo.gl/lq4gCo for more information.

My guess is why this is working for you on v70 is that the IP is getting resolved to localhost and localhost is being treated as secure in that version.

The v40 version of chrome is 3y old, it has many CVEs that have been fix

[2018-11-15 04:49] rmhrisk commented on #62
This is not a pure polyfill in that it uses WebCrypto wherever possible. It does this for security reasons. v40 has WebCrypto, it requires HTTPS to be used.

v70 is likely internally treating your local IP as localhost, this would be the only reason it would not complain that I can think of.

Use outside of a TLS session is not worth supporting; any encryption that would be done could have trivial

[2018-11-15 07:13] FalconIA commented on #62
OK, I got the reason why v40 not work, but there is only one question left. Why v70 works.
I'm sure that I test v70 from a WAN IP, and it was not secure.

![wechat image_20181115150106](https://user-images.githubusercontent.com/2204203/48536075-689d5c00-e8e8-11e8-8392-bc969f98b5de.png)

Of course, this is only my curiosity, you could not care about it.
Thanks for your response.

[2018-11-15 07:52] rmhrisk commented on #62
https://www.chromestatus.com/feature/6269417340010496

[2019-06-05 18:14] TJKoury commented on #57
@Mischala @microshine What's the status here?  Is this going to be integrated soon?  I'm willing to work on it if needed.

[2019-06-05 20:05] rmhrisk commented on #57
No progress but we’re interested in a PR :)

[2019-06-05 20:08] TJKoury commented on #57
@Mischala checking out your fork, what was the stopping point there?  Some technical issue?

[2019-06-10 09:57] mc-suchecki commented on #59
@lougreenwood I also expected to import the library in TypeScript like so:
```import 'webcrypto-liner';```

Right now this won't work with the following error:
[code]

[2019-06-10 11:30] TJKoury commented on #59
@microshine @YuryStrozhevsky The issue pointed out by @mc-suchecki was a problem in my [pull request to PKI.js](https://github.com/PeculiarVentures/PKI.js/pull/230).  Please change the main field.

[2019-12-30 06:49] Jack-Works commented on #47
TypeError: Cannot read property 'bytes' of undefined

      at Function.digest (node_modules/webcrypto-liner/build/webcrypto-liner.shim.js:10503:19)
      at Sha256Provider.onDigest (node_modules/webcrypto-liner/build/webcrypto-liner.shim.js:10516:24)
      at Sha256Provider.<anonymous> (node_modules/webcrypto-liner/build/webcrypto-liner.shim.js:403:30)

When using the asmcrypto lib on npm. `requi

[2019-12-30 06:53] Jack-Works commented on #47
Including a fixed(compressed) version of asmcrypto will make us can not pass the security audit, please publish a forked version of asmcrypto that will work with webcrypto-liner thanks!

[2019-12-30 07:56] microshine commented on #47
Please try
[code]

[2019-12-30 08:16] Jack-Works commented on #47
I'm writing test for the project so the code is running in the node. And you said web-crypto liner is using a "fixed" version of asmcrypto. I have tried the official asmcrypto package, it doesn't work well with the liner

[2019-12-31 09:03] cqupt-yifanwu opened #70 "Android mobile can't work"
[code]

 crypto.subtle.generateKey has someting wrong

[2019-12-31 17:36] rmhrisk commented on #70
We have tested on android mobile In the last and it does work for us.

We will need more information to help, for example what version of Android? Which browser and what version? What error we’re you having?

[2020-01-04 10:24] YuryStrozhevsky opened #71 "Unable to build"
On Windows 10, fresh copy from GitHub:
[code]
And I do recommend to make a real build checking on TravisCI: even if there is a badge `build: passed` at the moment TravisCI **does not** check build, only coverage.

[2020-01-06 01:46] cqupt-yifanwu commented on #70
i found elliptic.js not import successful , i resolved it, thx

[2020-01-06 01:47] #70 closed

[2020-01-06 07:42] cqupt-yifanwu opened #72 "if project only use ecdh, how got a smaller webcrypto-liner.js"
our project use ecdh, may i use smaller webcrypto-liner

[2020-01-06 13:52] microshine commented on #71
@YuryStrozhevsky Travis CI uses `prepare` script which compiles source code

https://travis-ci.org/PeculiarVentures/webcrypto-liner/jobs/627175272#L248

Maybe the problem is in tslint version

[2020-01-06 14:35] microshine commented on #72
`webcrypto-liner.shim.min.js` is 206 Kb. It is the simpliest way and the smallest file
[code]

[2020-01-07 01:15] #72 closed

[2020-01-07 03:38] cqupt-yifanwu opened #73 "iphonese ios: 9.3.5 can't worked"
I uesed ECDH

[code]
i trans it to es3.
does this has compatibility report, or only ecdh' compatibility in mobile phone(ios & Android)，

[2020-01-07 03:43] cqupt-yifanwu commented on #73
![image](https://user-images.githubusercontent.com/13469100/71866909-eeaae080-3142-11ea-9f47-206f97dba452.png)

[2020-01-07 05:02] rmhrisk commented on #73
Unfortunately we no longer have access to devices running 9.3.5. I believe we did work at this level at one point though.

Possibilities include:
1) issue with transpiration to es3 (probably relating to the associated polyfills)
2) changes to dependencies that have happened.

If you can resolve the issue we would accept a well thought out PR.

[2020-01-07 06:57] microshine commented on #73
Please try this script. I compiled it using iOS9 target
[webcrypto-liner.shim.js.txt](https://github.com/PeculiarVentures/webcrypto-liner/files/4029269/webcrypto-liner.shim.js.txt)

[2020-01-07 10:07] Jack-Works opened #74 "Is there breaking changes from 1.0.2 to 1.1.2?"
Our test failed when dependent bot try to auto upgrade dependency for us. Happy to see the info about what is changed from 1.0.2 to 1.1.2, thanks!

https://github.com/DimensionDev/Maskbook/pull/611

[code]
[code]

[code]

[2020-01-07 10:36] cqupt-yifanwu commented on #73
![image](https://user-images.githubusercontent.com/13469100/71886612-7f031880-3177-11ea-8d84-c6314c1c19a9.png)
it is not worked to me

and i used babel-ployfill transfer my project

[2020-01-07 10:43] microshine commented on #73
Can you detect which line of `webcrypto-liner` throws an exception?

and please check `window.liner.crypto.subtle.generateKey`. Maybe `webcrypto-liner` can't replace `winodos.crypto`

[2020-01-07 10:52] cqupt-yifanwu commented on #73
window.liner is undefined, but crypto.subtle  is different with origin window.crypto.subtle
![image](https://user-images.githubusercontent.com/13469100/71890098-8bd73a80-317e-11ea-96ec-73af6265e7c8.png)
![image](https://user-images.githubusercontent.com/13469100/71890137-9a255680-317e-11ea-9217-5de12e551753.png)

the error throw in this line
![image](https://user-images.githubusercontent.com/13469

[2020-01-07 11:16] microshine commented on #73
Is it possible to use `webcrypto-liner.shim.js` without adding it to a bundle file?

If you want to use `webrypto-liner` as ES6 module you can do it but you need to initialize your own `crypto` object

[code]

[2020-01-08 01:27] cqupt-yifanwu commented on #73
hi @microshine
i use webpack to Compile my code，and it worded in IE。i just want to run ecdh in lower version mobile phone like ios 9.3.5
![image](https://user-images.githubusercontent.com/13469100/71942527-79014c00-31f8-11ea-88b5-c882ba57b0ae.png)
![image](https://user-images.githubusercontent.com/13469100/71942598-b36ae900-31f8-11ea-87a1-e3577796d055.png)

[2020-01-08 02:18] cqupt-yifanwu commented on #73
my test demo is:
https://github.com/cqupt-yifanwu/ecdh-demo

[2020-01-08 08:11] cqupt-yifanwu commented on #73
it is work for me...

[2020-01-08 08:11] #73 closed

[2020-04-10 07:24] Jack-Works opened #76 "Failed to init in the Web Worker"
https://github.com/PeculiarVentures/webcrypto-liner/blob/faae2d4b127c1830ceb2fad4736d6177feab3544/src/shim.ts#L11-18

Source code:
[code]

In the mainframe, `crypto.*` is defined on the [Window](https://developer.mozilla.org/zh-CN/docs/Web/API/Window) interface and `self` or `window` has the prototype of Window therefore everything is fine.

In Web Worker, `crypto.*` is defined on the [WorkerGloba

[2020-04-10 07:31] Jack-Works commented on #76
Workaround:

Run the following code before loading `webcrypto-liner`
[code]

[2020-06-16 04:36] mishraab07 commented on #74
Is there any way to resolve this issue ? I am also getting the same when hosting fortify-web (tools) as a local server.

[2020-06-16 08:09] donskov commented on #74
@mishraab07 Hi. Now, fortify-web (tools) works correctly. Please pull the latest changes from the `master` branch

[2020-06-16 09:10] mishraab07 commented on #74
Hi @donskov thank you for your feedback, I see the below observations:

1. When deploying `master` branch using a docker container, I am facing the below error:

![image](https://user-images.githubusercontent.com/26677551/84753913-40527380-afdd-11ea-8132-7776bcc81a28.png)

2. When deploying `v1.0.21` tag using a docker container (same machine acting as a client and docker-host), everything works w

[2020-06-16 13:10] rmhrisk commented on #74
Localhost (127.0.0.1) wot work cross machine. Unless your docker config has some component that routes between two containers on the same host and this supports localhost. Wouldn’t expect this to work.

[2020-08-02 08:44] matan21197 opened #79 "Can't find elliptic js script"
when including both webcrypto-liner and elliptic js the following error is returned when trying to use ECDH functions:
Unhandled Promise Rejection: Error: Cannot implement EC mechanism. Add 'https://peculiarventures.github.io/pv-webcrypto-tests/src/elliptic.js' script to your project.
 The error is returned when running on safari

[2020-08-02 16:21] rmhrisk commented on #79
Please provide minimal example code to reproduce.

What uservagent?

[2020-08-03 13:18] matan21197 commented on #79
i am running from safari 13.1 on ios 13.5 and get the error when executing
`await crypto.subtle.importKey(
        "jwk",
        key,
        {
            name: "ECDH",
            namedCurve: 'p-521'
        },
        false,
        []
    )`
the code works when including the elliptic.js script manually with a script tag, but i would like to import the js script, and when i do it outputs the e

[2020-08-03 15:01] rmhrisk commented on #79
Please provide minimal example code to reproduce.

[2020-08-04 08:17] donskov commented on #79
Hello @matan21197 . I prepared for you example of how to use `webcrypto-liner` with `import`.

Install npm modules:

[code]

Import modules to your code (using dynamic imports):

[code]

This code works with our [web-components](https://fortifyapp.com/developers/docs/installation/web-component). Look, maybe you will be interested.

Thanks!

[2020-08-04 17:39] matan21197 commented on #79
@donskov Thank you so much!
The issue was fixed by adding:
`import * as elliptic from 'elliptic';

window['elliptic'] = elliptic`
Maybe it should be added to the readme that elliptic and asmCrypto need to be added to the window
Again, thank you very much

[2020-08-04 17:39] #79 closed

[2020-08-18 01:14] alexeyorlove opened #80 "asmcrypto_js is undefined"
Hey.
I am getting error in **webcrypto-liner.shim.mjs** because _asmcrypto_js is undefined_.

Because _self.asmCrypto_ is undefined too.

Although I am including both of these packages.
[code]

But if I connect like this, everything works. But it doesn't look right.
[code]

How to use this polyfill correctly?
Thanks

[2020-08-18 08:26] donskov commented on #80
@alexeyorlove Hello. Now `webcrypto-liner` uses the global `asnCrypto` object. Please look at https://github.com/PeculiarVentures/webcrypto-liner/issues/79#issuecomment-668453929

[2020-08-24 17:16] alexeyorlove commented on #80
@donskov thanks!

[2020-08-24 17:16] #80 closed

[2020-11-23 12:41] YuryStrozhevsky commented on #71
The problem was due to [**this issue**](https://github.com/ezolenko/rollup-plugin-typescript2/issues/94). In short - full path to the project which is using `rollup-plugin-typescript2` MUST not contain any parentheses.

[2020-11-23 12:41] #71 closed

[2021-01-12 09:41] wh1t3cAt1k commented on #56
Hey guys, I desperately needed PBKDF2 for use with [@webcrypto/storage](https://www.npmjs.com/package/@webcrypto/storage) (it uses key derivation by default and this behaviour is non-overridable).

I tried this library as a polyfill, but got a `NotSupportedException`. Seems like the implementation still missing?

[2021-01-12 09:58] wh1t3cAt1k opened #81 "PBKDF2 on Internet Explorer resorts to native subtle and fails"
The reason is that (to the best of my knowledge) PBKDF2 is not supported on IE11 and as such, asmcrypto.js implementation should be used instead.

The failure is NotSupportedError returned by native IE11 subtle upon `importKey()` call with PBKDF2:

![image](https://user-images.githubusercontent.com/5159662/104299032-be282000-54d5-11eb-8d5f-679bb2c4de20.png)

I know this library does not officially

[2021-01-12 15:51] rmhrisk commented on #81
Should be an easy fix if so. PR welcome. We will try to get to it in the meantime.

[2021-01-12 18:18] wh1t3cAt1k commented on #81
(just to clarify, `deriveKey()` is not supported either: that call is also used by @webcrypto/storage, however I am not certain whether it's because PBKDF2 algorithm is not implemented, or `deriveKey()` in general is hard-cut-off on IE11 - at any rate, probably makes sense to specifically test the case with `deriveKey` as well...)

[2021-02-05 15:42] microshine commented on #57
`@peculiar/webcrypto` implements EdDSA and ECDH-ES mechanism. I'm going to support the same mechanisms for `webcrypto-liner` (~1 week)

[2021-02-09 12:05] microshine commented on #57
Try this example. But copy files locally and run it. It doesn't work in `codesandbox` (not clear why)
https://codesandbox.io/s/ed25519-with-certs-goxlt

![image](https://user-images.githubusercontent.com/7333669/107361240-1dcf1680-6ae8-11eb-98cd-32628ac71ab7.png)

It uses an unpublished `webcrypto-liner` library with `Ed25519` supporting

[2021-02-09 12:09] microshine commented on #57
There is a problem with `Ed448` curve. `elliptic` module doesn't implement it. So current version supports `Ed25519` only

[2021-02-09 18:43] rmhrisk commented on #57
@indutny any chance to get Ed448 working in elliptic for our use case?

[2021-05-20 02:34] TJKoury opened #84 "Method scope 'this' undefined when destructuring methods from SubtleCrypto instance"
In Node >=15.x, the WebCrypto API allows destructuring of SubtleCrypto methods:

[code]
However, doing this using the liner throws errors (methods and properties called on 'undefined').

A quick workaround is to bind `this` when destructuring:

[code]

Bad code smell though, and side-effects unknown.

[2021-05-20 22:58] TJKoury opened #85 "nativeCrypto.getRandomValues is not a function in Node"
Running into an error generating new keys:

`TypeError: exports.nativeCrypto.getRandomValues is not a function`

Understand shimming `getRandomValues` for each environment, suggest using [randomFillSync](https://nodejs.org/api/crypto.html#crypto_crypto_randomfillsync_buffer_offset_size).  Can work on a pull if interested.

[2021-12-06 14:37] kumaheiyama opened #89 "Incompatible with TypeScript 4.4"
When using webcrypto-liner with typescript >4.2.4 I get the same error as discussed in [this webcrypto-core issue](https://github.com/PeculiarVentures/webcrypto-core/issues/38).

Looking at the webcrypto-liner `package.json` it is still using `"webcrypto-core": "^1.2.0"`

[2021-12-07 08:14] kumaheiyama commented on #89
I tried forking the repo and updating to `webcrypto-core 1.2.1`, and the build works. However I'm getting the following error message when trying with the latest `1.4.0`:

[code]

[2021-12-07 15:38] microshine commented on #89
@kumaheiyama I've published the fixed version `webcrypto-liner@1.3.0`. Please try it

[2022-03-08 15:20] TJKoury commented on #85
Anything else you need on this pull?

[2022-03-25 10:32] kumaheiyama commented on #89
Sorry for late response, seems to be working with `@1.3.1`!
Thanks @microshine

[2022-08-07 06:57] mohitgoyal2011 commented on #5
Hi, sorry if this is not the right place to ask. How exactly do you go about using webcrypto-liner with PKIjs ? I am trying to get a PFX generated and working on Windows. And realize that we would need to webcrypto-liner.

`import * as webcryptoliner from 'webcrypto-liner/build'

 pkijs.setEngine("webcrypto", new webcryptoliner.Crypto())
//Create a PKCS12
await pkcs12.parsedValue.authenticatedSafe

[2022-08-07 08:12] mohitgoyal2011 commented on #5
Actually, looking at other comments, I realized I would have to use webcrypto-liner in the node specific example to make this work. If you have any implementations that work and can be shared, I would be grateful.

[2022-10-26 22:28] sebseb7 opened #94 "How to use with webpack?"
I use webcrypto-liner with chome when using http (not https) when webcrypto is not available. Currently I do not package it, because I only got it to work by including it this way:

[code]

when I try to package it:
[code]
I get this error:

<img width="322" alt="image" src="https://user-images.githubusercontent.com/677956/198150340-63ec54d8-5441-4c76-a254-a5727e6d2bb0.png">